---
---

@import "minima";

.text-danger {
  color: red;
}
.text-info {
  color: blue;
}
.text-success {
  color: green;
}
.text-gray {
  color: gray;
}

.date{
  font-size: 12px;

}

// spacing
.margin-top-40{
  margin-top: 40px;
}
