---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }}
  <h1 class="margin-top-40" id="release-notes">Release Notes</h1>
  {% for post in site.categories.release-note %} {% if post.url %}
  <dl class="margin-bottom-40">
    <dt>
      <h3>
        <a href="{{ post.url | baseurl}}"
          >{{ post.title }} |
          <span class="date">{{post.date | date: "%m/%d/%Y"}}</span></a
        >
      </h3>
    </dt>
    <dd>
      {{ post.excerpt }}
      <a class="read-more" href="{{ post.url | baseurl}}">Continue Reading...</a>
    </dd>
  </dl>
  {% endif %} {% endfor %}
</div>
<style>
  .search-container{
    border: solid 1px #c1c1c1;
  }
</style>